# GAMEMODE=survival
# Possible values: survival (0), creative (1), adventure (2)

# DIFFICULTY=easy
# Possible values: peaceful (0), easy (1), normal (2), hard (3)

# LEVEL_TYPE=DEFAULT
# Possible values: FLAT, LEGACY, DEFAULT

# SERVER_NAME=Dedicated Server
# Possible values: Any string

# MAX_PLAYERS=10
# Possible values: Positive integer

# SERVER_PORT=19132
# Possible values: Any integer
# The "SERVER_PORT" will ignore because this env will specified by -e option in docker command.

# SERVER_PORTV6=19133
# Possible values: Any integer

# LEVEL_NAME=level
# Possible values: Any string

# LEVEL_SEED=
# Possible values: Any string

# ONLINE_MODE=true
# Possible values: true, false

# WHITE_LIST=false
# Possible values: true, false

# ALLOW_CHEATS=false
# Possible values: true, false

# VIEW_DISTANCE=10
# Possible values: Any integer

# PLAYER_IDLE_TIMEOUT=30
# Possible values: Any integer

# MAX_THREADS=8
# Possible values: Any integer

# TICK_DISTANCE=4
# Possible values: An integer in the range [4, 12]

# DEFAULT_PLAYER_PERMISSION_LEVEL=member
# Possible values: visitor, member, operator

# TEXTUREPACK_REQUIRED=false
# Possible values: true, false

# CONTENT_LOG_FILE_ENABLED=false
# Possible values: true, false

# COMPRESSION_THRESHOLD=1
# Possible values: An integer in the range[0-65535]

# SERVER_AUTHORITATIVE_MOVEMENT=true
# Possible values: true, false

# PLAYER_MOVEMENT_SCORE_THRESHOLD=20
# Possible values: Any positive integer

# PLAYER_MOVEMENT_DISTANCE_THRESHOLD=0.3
# Possible values: Any positive float

# PLAYER_MOVEMENT_DURATION_THRESHOLD_IN_MS=500
# Possible values: Any positive integer

# CORRECT_PLAYER_MOVEMENT=false
# Possible values: true, false

# See also: https://minecraft.gamepedia.com/Server.properties#Bedrock_Edition_3

